* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: cornsilk;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: blue;
  color: white;
  padding: 8px 2%;
}

nav a {
  color: white;
  text-decoration: none;
  position: relative;
  margin-left: 15px;
  font-size: 20px;
}

nav a:hover::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: white;
}

h2, h3, form {
  text-align: center;
  margin: 15px;
  font-size: x-large;
}
.row {
  
  border: black solid ;
  background-color: blue;
  color: white;
 
}
